html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #808080;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	margin-top: 60px;
}

.main-navigation {
	display: flex;
	align-items: center;
}

.main-header-logo img {
	vertical-align: top;
	max-width: 100%;
}

.site-navigation {
	display: flex;	
	list-style: none;
	margin: 0;
	margin-left: auto;
	padding: 0;	
	position: relative;
}

.site-navigation li {
	position: relative;
}

.site-navigation > li {
	margin-right: 45px;
}

.site-navigation > li:last-child {
	margin-right: 0;
}


.site-navigation a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #222222;
	font-size: 14px;
	line-height: 26px;
}

.user-navigation {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-navigation a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: black;
	font-size: 14px;
	line-height: 26px;
}

.site-navigation-fallout {
	list-style: none;	
	padding: 0;
}

.site-navigation-fallout a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #222222;
	font-size: 12px;
	line-height: 26px;
}

.user-navigation-search {
	margin-left: 21px;	
}

.user-navigation-search a {
	width: 13px;
	height: 13px;
}

.user-navigation-search a::before {
	content: "";
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	display: inline-block;
	position: relative;
	top: 3px;
}

.fa-search {
	font-size: 13px;

}

.user-navigation-booking {
	margin-left: 25px;	
}

.user-navigation-booking a {
	display: inline-block;	
	text-align: center;
	padding: 7px 15px;
	min-width: 150px;
	border-radius: 7px;
	background-color: #ef5b5b;
	color: #ffffff; 
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.site-navigation-style {
	display: none;	
	position: absolute;
	padding: 0;

}

.site-navigation li:hover .site-navigation-style {
	display: block;
}

.site-navigation li:hover > a {
	color: #ef5b5b;
}

.site-navigation .site-navigation-dropdown {
	padding-right: 10px;
	margin-right: 35px;
}

.site-navigation-dropdown::after {
	content: "";
	border: 5px solid #222222;
	border-top-width: 5px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 12px;
	right: 1px;
}

/*.site-navigation-hotels::after {
	content: "";
	border: 5px solid #222222;
	border-top-width: 5px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 12px;
	right: -10px;
}
*/
.promo {
	padding-top: 321px;
	padding-bottom: 425px;
	background-image: url(../img/promo-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -99px;
}

.promo p {
	margin: 0;
}

.title-main {
	margin: 0;
	font-family: 'Segoe Script', sans-serif;
	font-weight: 400;
	color: #ef5b5b;
	font-size: 28px;
	line-height: 28px;
}

.promo .title-main {
	margin-bottom: 33px;
}

.sub-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 41px;
	line-height: 41px;
	color: #222222;
	
}

.promo .sub-title {
	margin-bottom: 25px;
}

.promo .promo-offer {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 28px;
	color: #222222;
	margin-bottom: 41px;
}

.promo-information a {
	position: relative;
}

.promo-information a {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	min-width: 170px;
	text-align: center;
	padding: 14px 15px;
	background-color: #ef5b5b;
	border-radius: 7px;
}

.promo-information a::after {
	content: "";
	border: 4px solid #ffffff;
	border-top-width: 4px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	position: relative;
	display: inline-block;
	right: -5px;
	bottom: 1px;
	vertical-align: middle;
}

.feature-trips {
	display: flex;
	align-items: flex-start;
	padding-top: 84px;
	padding-bottom: 150px;	
}

.feature-trips-list {
	list-style: none;
	display: flex;	
	padding: 0;
	margin: 0;
	margin-top: -199px;
	width: 1170px;
}

.feature-trips-list li:not(:last-child) {
	margin-right: 30px;
}

.feature-trips-list li {
	width: 370px;
	border-radius: 7px;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}

.feature-trips-list li p {
	margin: 0;
}

.feature-trips-wrapper {
	width: 270px;
	flex-shrink: 0;
	margin-right: 30px;
}

.feature-trips-image {
	display: block;
}

.feature-trips-image img {
	border-radius: 7px 7px 0 0 ;
	vertical-align: top;
	width: 100%;
	height: auto;
}

.feature-trips .title-main {
	margin-bottom: 11px;
}

.feature-trips .sub-title {
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 24px;
	position: relative;
}

.feature-trips .sub-title::before {
	content: "";
	width: 2px;
	height: 20px;
	background-color: #ef5b5b;
	position: absolute;
	top: 4px;
	left: -7px;
}

.feature-trips-description p {
	margin: 0;
	margin-bottom: 34px;
}

.feature-trips-booking {
	margin: 0;
}

.feature-trips-booking  a {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;
	min-width: 170px;
	text-align: center;
	padding: 14px 15px;
	background-color: #ef5b5b;
	border-radius: 5px;
}

.feature-trips-destination {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #222222;
	padding-top: 22px;
	padding-bottom: 22px;
	border-bottom: 2px solid #d6d6d6;
}

.feature-trips-info {
	display: flex;
	justify-content: space-between;
	padding: 12px 15px;
}

.feature-trips-rating {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 26px;
	color: #222222;
}

.feature-trips-order a {
	display: block;
	min-width: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	background-color: #ef5b5b;
	color: #ffffff;
	border-radius: 5px;
}

.feature-trips-stars  {
	vertical-align: middle;
}

.convenience {
	background-color: #f0efef;
	padding-top: 149px;
	padding-bottom: 149px;
	position: relative;
}

.convenience .title-main {
	text-align: center;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 9px;
}

.convenience .sub-title {
	margin: 0;
	text-align: center;
	margin-bottom: 69px;
	font-size: 28px;
	line-height: 28px;
}

.convenience .convenience-list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.convenience-item p {
	margin: 0;
}

.convenience-image img {
	vertical-align: top;
	max-width: 100%;	
}

.convenience-image {
	margin-bottom: 21px;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.convenience-list .convenience-item {
	/*display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;*/
	text-align: center;
	background-color: #ffffff;
	padding-top: 45px;
	position: relative;
	padding-bottom: 50px;
	padding-right: 15px;
	padding-left: 15px;
	width: 370px;
	border: 1px solid #cbcbcb;
}

.convenience-list .convenience-item:not(:last-child) {
	margin-right: 30px;
}

.convenience-item .convenience-item-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	color: #222222;
	margin-bottom: 11px;
}

.convenience-item-description {
	text-align: center;
}

.services {
	background-color: #f0efef;
	padding-bottom: 150px;
}

.services p {
	margin: 0;
}

.services .title-main {
	text-align: center;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 14px;
}

.services .sub-title {
	text-align: center;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 70px;
}

.services .choose-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.services .choose-list li {
	width: 570px;
	background-color: #ffffff;
	padding-top: 26px;
	padding-right: 70px;
	padding-bottom: 22px;
	padding-left: 28px;
	box-shadow: 2px 2px 0 0 #d9d8d8;
}

.services .choose-list li {
	margin-bottom: 30px; 
}

.services .choose-list li:nth-last-child(-n+2) {
	margin-bottom: 0; 
}


.services .choose-list li:nth-child(2n+1) {
	margin-right: 30px; 
}

.choose-list .choose-item-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	color: #00b1ff;
	margin-bottom: 20px;
}

.convenience-slider {
	position: relative;
}


/*.convenience-slider-buttons {
	position: absolute;
	top: 435px;
}*/

.convenience-slider-buttons .button-left {
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #ef5b5b;
	cursor: pointer;	
	position: absolute;
	right: 100%;
	margin-right: 14px;
	top: 50%;
	margin-top: -14px;
}

.convenience-slider-buttons .button-right {
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #ef5b5b;
	cursor: pointer;	
	position: absolute;
	left: 100%;
	margin-left: 14px;
	top: 50%;
	margin-top: -14px;
}

.button-left::before {
	content: "";
	width: 14px;
	height: 16px;	
	display: block;
	position: relative;
	left: -2px;	
	background-image: url(../img/icon-slider-left.png);
	background-repeat: no-repeat; 
}

.button-right::before {
	content: "";
	width: 14px;
	height: 16px;	
	display: block;
	position: relative;
	right: -3px;	
	background-image: url(../img/icon-slider-right.png);
	background-repeat: no-repeat; 
}

.tour-packages {
	padding-top: 145px;
	padding-bottom: 150px;
	/*background-image: url("../img/tour-packages-backround-style.png"), url("../img/tour-packages-backround.jpg");
	background-blend-mode: normal;*/
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tour-packages-backround.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.tour-packages-slider {
	position: relative;
	z-index: 5;
	margin-bottom: 150px;
}

.tour-packages-slider .button-right {
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #ef5b5b;
	cursor: pointer;	
	position: absolute;
	/*left: 100%;
	margin-left: 325px;
	top: 50%;
	margin-top: -14px;
	z-index: 5;*/
	top: 50%;
	margin-top: -14px;
	/*margin-left: -350px;
	left: 100%;*/
	right: 0;
	z-index: 5;
}

.tour-packages-slider .button-left {
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #ef5b5b;
	cursor: pointer;	
	position: absolute;
	margin-right: 14px;
	margin-top: -14px;
	/*margin-right: -350px;*/
	top: 50%;
	/*right: 100%;*/
	left: 0;
	z-index: 5;
}

.tour-packages .background-style {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.tour-packages .title-main {
	text-align: center;
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 12px;
	position: relative;
	z-index: 5;
}

.tour-packages .sub-title {
	text-align: center;
	font-size: 28px;
	line-height: 28px;
	color: #ffffff;
	margin: 0;
	margin-bottom: 74px;
	position: relative;
	z-index: 5;
}

.tour-packages-list {
	list-style: none;
	padding: 0;
	display: flex;
	/*width: 100%;
	flex-shrink: 0;*/
	overflow: hidden;
	justify-content: center;
	margin: 0;
	
}

.tour-packages-item {
	flex-shrink: 0;
	width: 370px;
	position: relative;
	border-radius: 7px;
	background-color: #ffffff;
}

.packages-item-fill::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 5;
	border-radius: 7px;
}


.tour-packages-item p {
	margin: 0;
}

/*.tour-packages-item:first-of-type img,
.tour-packages-item:last-of-type img {
	opacity: 0.6;
}*/

.tour-packages-item:not(:last-of-type) {
	margin-right: 30px;
}

.tour-packages-image {
	margin: 0;
	margin-bottom: 10px;
	border-radius: 7px 7px 0 0;
	overflow: hidden;
}

.tour-packages-image img {		
	vertical-align: top;
	width: 100%;
	/*height: auto;*/	
}

.tour-packages-image a {
	display: block;
}

.tour-packages-transfer {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	background-color: #00b1fa;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	min-width: 100px;
	padding: 3px 11px;
	text-align: center;
}

.by-air::before {
	content: "";
	width: 11px;
	height: 11px;
	display: inline-block;
	background-image: url("../img/icon-plane.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 4px;
}

.by-road::before {
	content: "";
	width: 16px;
	height: 12px;
	display: inline-block;
	background-image: url("../img/icon-road.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 4px;
}

.tour-packages-text .tour-packages-title {
	margin-bottom: 12px;
}

.tour-packages-title a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #222222;
}

/*.tour-packages-content {	
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom: 27px;
}*/

.tour-packages-text {
	padding-top: 6px;
	max-width: 252px;
	flex-grow: 1;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.tour-packages-price,
.tour-packages-duration {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.tour-packages-terms {
	/*width: 60px;*/
	flex-shrink: 0;
	max-width: 85px;
}


.tour-packages-terms .tour-packages-price {
	/*line-height: 26px;*/
	margin-bottom: 22px;
}

.tour-packages-price del {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #ef5b5b;
}

.tour-packages-price ins {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: #00b1ff;
	text-decoration: none;
}

.tour-packages-duration {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #222222;
	position: relative;
	z-index: 0;
}

.attention::before {
	content: "*";
	font-size: 14px;
	line-height: 20px;
	color: #ef5b5b;
	/*position: absolute;
	left: 16px;
	top: -2px;*/
}

.tour-packages-wrapper {
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom: 21px;
	display: flex;
	justify-content: space-between;
	/*flex-wrap: wrap;*/
	border-bottom: 1px solid #cecece;
}

.tour-packages-info {
	display: flex;
	justify-content: space-between;
	padding-top: 14px;
	padding-bottom: 16px;
	padding-right: 15px;
	padding-left: 15px;
	align-items: center;	
}

.tour-packages-statistics {
	display: flex;	
}

.tour-packages-booking {
	display: block;
	min-width: 100px;
	padding: 3px 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	background-color: #ef5b5b;
	border-radius: 4px;
}

.tour-packages-statistics .tour-packages-rating {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 26px;
	color: #222222;
	margin-right: 8px;
}

.tour-packages-review {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 26px;
	color: #222222;
}

.tour-packages-statistics .feature-trips-stars {
	margin-right: 3px;
}

.tour-packages-style {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 1;
	border-radius: 7px;
}

.custom-package {
	position: relative;
	z-index: 2;
}

.custom-package h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 28px;
	line-height: 28px;
	color: #ffffff;
	margin: 0;
	margin-bottom: 70px;
}

/*.custom-package-form input,
.custom-package-form select {
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	color: #808080;	
}*/


.custom-package-form {
	display: flex;
	/*width: 1170px;*/
	border: 15px solid rgba(255, 255, 255, 0.5);
}

.custom-package-form label {
	display: flex;
}

.custom-package-form input[type=text] {
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	color: #808080;	
	border-right: 1px solid #b6b6b6;	
	/*padding: 25px 55px;*/	
}

.custom-package-form .location-form {
	padding: 25px 48px;
}

.custom-package-form .form-checkin,
.custom-package-form .form-checkout {
	padding: 25px 55px;
}

/*.custom-package-form input[type=date]::-webkit-datetime-edit-fields-wrapper {
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	color: #808080;
	padding: 0;
}*/

.custom-package-form select {
	-moz-appearance: none;
  	-webkit-appearance: none;
  	appearance: none;
  	border: none;
  	border-radius: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	color: #808080;	
	min-width: 185px;	
}

.custom-package-button {
	display: block;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	background-color: #ef5b5b;
	min-width: 149px;
	padding: 26px 29px;
	text-transform: uppercase;
	text-align: center;
}

.custom-package-form .location-form {
	min-width: 285px;
}

.custom-package-form .form-checkin {
	min-width: 250px;
}

.custom-package-form .form-checkout {
	min-width: 271px;
}

.location-form-label {
	position: relative;
}

.location-form-label::before {
	content: "";
	width: 16px;
	height: 18px;
	background-image: url("../img/icon-location.png");
	background-repeat: no-repeat;	
	display: block;
	background-size: contain;
	position: absolute;
	top: 28px;
	left: 25px;	
}

.form-checkin-label {
	position: relative;
}

.form-checkin-label::before {
	content: "";
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-calendar-plus.png");
	background-repeat: no-repeat;	
	display: block;
	background-size: contain;
	position: absolute;
	top: 28px;
	left: 25px;	
}

.form-checkin-label::after {
	content: "";
	border: 7px solid #808080;
	border-top-width: 7px;
	border-right-width: 6px;
	border-left-width: 6px;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	position: absolute;
	display: block;
	top: 36px;
	left: 146px;
}


.form-checkout-label {
	position: relative;
}

.form-checkout-label::before {
	content: "";
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-calendar-minus.png");
	background-repeat: no-repeat;	
	display: block;
	background-size: contain;
	position: absolute;
	top: 28px;
	left: 25px;	
}

.form-checkout-label::after {
	content: "";
	border: 7px solid #808080;
	border-top-width: 7px;
	border-right-width: 6px;
	border-left-width: 6px;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	position: absolute;
	display: block;
	top: 36px;
	left: 163px;
}

.form-people {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 54px;
	padding-right: 43px;
}

.form-people-label {
	position: relative;
}

.form-people-label::before {
	content: "";
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-calendar.png");
	background-repeat: no-repeat;	
	display: block;
	background-size: contain;
	position: absolute;
	top: 28px;
	left: 25px;	
}

.form-people-label::after {
	content: "";
	border: 7px solid #808080;
	border-top-width: 7px;
	border-right-width: 6px;
	border-left-width: 6px;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	position: absolute;
	display: block;
	top: 36px;
	left: 130px;
}

.geography {
	padding-top: 153px;	
	padding-bottom: 150px;
	background-image: linear-gradient(to top, rgba(255, 255,255, 0.9),rgba(255, 255,255, 0.9)), url(../img/geography-image.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.geography-style {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	top: 0;
	left: 0;
	z-index: 0;
}

.geography p {
	margin: 0;
}

.geography .geography-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.geography-list .geography-item {
	margin-bottom: 80px;	
}

/*.geography-list .geography-item:nth-child(2n+1) {	
	margin-right: 30px;
}*/


.geography-list .geography-item:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.geography .geography-country-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.geography .title-main {
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 11px;
}

.geography .sub-title {
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 34px;
}

.geography .geography-description {
	width: 730px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 80px;
}

.geography-item .geography-image {
	text-align: center;
	margin: 0;
	flex-shrink: 0;
	border: 1px solid #cbcbcb;
	width: 200px;
	height: 200px;
	line-height: 200px;
	margin-right: 27px;
}

.geography-item .geography-image img {
	vertical-align: middle;
}

.geography-list .geography-item {
	width: 570px;
	display: flex;
}

.geography-country-list {
	display: flex;
	flex-wrap: wrap;
}

.geography-item-content {
	padding-top: 21px;
}

.geography-list .geography-item-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	color: #222222;
	margin-bottom: 14px;
}

.geography-country-list li {
	margin-right: 15px;
	font-weight: 600;	
}

.geography-country-list li::before {
	content: "";
	width: 11px;
	height: 11px;	
	display: inline-block;
	border-radius: 50%;
	background-color: inherit;
	border: 1px solid #00b1ff;
	/*background-image: url("../img/icon-circle.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	margin-right: 6px;
	border-radius: 50%;
	background-color: inherit;
	border-radius: 1px solid #00b1ff;
}

.geography .title-main,
.geography .sub-title,
.geography .geography-description,
.geography .geography-list {
	position: relative;
	z-index: 5;
}

.tour-packages-slider-buttons {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;	
}

.statistics {
	background-color: #ef5b5b;
	padding-top: 115px;
	padding-bottom: 110px;
}

.statistics .statistics-list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}

.statistics .statistics-item {
	display: flex;	
	width: 300px;
}

.statistics .statistics-item:last-of-type {
	justify-content: flex-end;
}


.statistics-item-quantity {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: auto;
	color: #ffffff;
	margin: 0;
	margin-bottom: 16px;
}

.statistics-item-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
	margin: 0;
}

.statistics-clients::before {
	content: "";
	width: 54px;
	height: 50px;
	background-image: url("../img/icon-clients.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: relative;
	margin-right: 17px;
	top: 6px;
	flex-shrink: 0;
}

.statistics-members::before {
	content: "";
	width: 54px;
	height: 50px;
	background-image: url("../img/icon-yellow-plane.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: relative;
	margin-right: 17px;
	top: 6px;
}

.statistics-flag::before {
	content: "";
	width: 54px;
	height: 50px;
	background-image: url("../img/icon-flag.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: relative;
	margin-right: 17px;
	top: 6px;
}

.statistics-winings:before {
	content: "";
	width: 54px;
	height: 50px;
	background-image: url("../img/icon-cup.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: relative;
	margin-right: 17px;
	top: 6px;
}